* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
  margin-bottom: 5rem;
}

.pages {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.bordered {
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 0 0.5rem;
}

.header {
    text-decoration: none;
    font-size: 2rem;
}